html {
    font-size: 4px;
}

body {
    font-size: 3.5rem;
}
body h1 {
    font-size: 6rem;
}
body h2 {
    font-size: 5rem;
}

/* the 'header' of datatables */
.dt-layout-row {
    padding-top: 10px;
}

svg {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    max-width: none;
    max-height: none;
    box-sizing: content-box;
}


/* Tips */
#vine-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 10px;
    white-space: nowrap;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 3rem;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    pointer-events: none;
    z-index: 9999;
}
.error-tip {
    padding-left: 5rem; 
    font-size: 4rem; 
    color: #C32929; 
    visibility: hidden;
}


/* Footnote */
.footnote {
    color: #999999;
    height: 2vh;
    width: 90%;
    font-size: 3.5rem;
    background-color: #f0f0f0;
    display: block;
}

.footnote a {
    text-decoration: none;
    border-bottom: 1px solid #999999;
}


