
html {
    font-size: 4px;
    overflow: hidden;
}

body {
    font-size: 1rem;
    overflow: hidden;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;  /* Firefox */
}

#content {
    position: absolute;
    left: 14%;
    overflow: hidden;
    padding: 10px 20px 0px 20px;
    width: 86%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;         
    transition: top 0.5s ease;
}

.iframe-style {
    width: 100%;
    height: 100%;
    border: none;
}

