<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>d3.js vine</title>
    <!-- import css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logtext.css') }}">
    <!-- import js files-->
    <script src="{{ url_for('static', filename='js/logtext.js') }}" type="module"></script>

</head>

<body>
    
    <textarea id="log-text-performance" class="log-text" wrap="off" readonly></textarea>

</body>
</html>