<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>d3.js vine</title>
    <!-- import d3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- import jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- import datatables -->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/dataTables.fixedColumns.js"></script>
    <!-- import axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- import lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    
    <!-- parse csv files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- import css files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/5.0.1/css/fixedColumns.bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}?v=1.0">
    <!-- import js files-->
    <script src="{{ url_for('static', filename='js/report.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/draw_tables.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/manager.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/manager_disk_usage.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/execution_time_distribution.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/category_information.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/tasks_concurrency.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/worker_concurrency.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/worker_disk_usage.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/execution_details.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}" type="module"></script>
</head>

<body>
    <div id="vine-tooltip" class="tooltip"></div>

    <h2 id="manager-summary-title">Manager Summary</h2>
    <div class="preface">
       <p>The time span of this report begins when the manager starts and ends when the manager ends. 
        If the manager was connected at Unix timestamp 1720370750.935014, we set this as 0, any other 
        timestamps should be subtracted by this value. For example, if a task starts at 
        1720371091.890853 and ends at 1720371102.900173, the start and end times will be 340.95 and 351.96, respectively.
       </p>
    </div>

    <div id="manager-info-container">
        <div id="manager-description-container">
            <table id="manager-description-table">
                <tbody>
                    <tr>
                        <th>Start time</th>
                        <td id="start-time"></td>
                    </tr>
                    <tr>
                        <th>End time</th>
                        <td id="end-time"></td>
                    </tr>
                    <tr>
                        <th>Life time</th>
                        <td id="lift-time"></td>
                    </tr>
                    <tr>
                        <th>Tasks Submitted</th>
                        <td id="tasks-submitted"></td>
                    </tr>
                    <tr>
                        <th>Tasks Done</th>
                        <td id="tasks-done"></td>
                    </tr>
                    <tr>
                        <th>Tasks Waiting</th>
                        <td id="tasks-waiting"></td>
                    </tr>
                    <tr>
                        <th>Tasks Failed</th>
                        <td id="tasks-failed"></td>
                    </tr>
                    <tr>
                        <th>Workers Connected</th>
                        <td id="workers-connected"></td>
                    </tr>
                    <tr>
                        <th>Workers Active</th>
                        <td id="workers-active"></td>
                    </tr>
                    <tr>
                        <th>Maximum Parrellel Workers</th>
                        <td id="max-concurrent-workers"></td>
                    </tr>
                    <tr>
                        <th>Size of All Files</th>
                        <td id="size-of-all-files"></td>
                    </tr>
                    <tr>
                        <th>Peak Disk Load</th>
                        <td id="peak-disk-load"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="factory-description-container">
        </div>
    </div>


    <h2 id="worker-summary-title">Worker Summary</h2>
    <table id="worker-table" class="display">
        <thead>
            <tr>
                <th>id</th>
                <th>hash</th>
                <th>machine</th>
                <th>ip</th>
                <th>port</th>
                <th>when connected</th>
                <th>when disconnected</th>
                <th>lifetime(s)</th>
                <th>cores</th>
                <th>memory (MB)</th>
                <th>disk (MB)</th>
                <th>num tasks completed</th>
                <th>num tasks failed</th>
                <th>tasks average runtime</th>
                <th>peak disk usage (MB)</th>
                <th>peak disk usage (%)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2 id="manager-disk-usage-title">Manager Disk Usage</h2>
    <div id="manager-disk-usage-preface" class="preface">
        <p>This plot shows the disk usage (MB) of the manager through its lifetime. Note that we only care about the output files generated by tasks,
            so here we only count the disk usage of staging/outputs directory over time.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-manager-disk-usage-reset" class="report-button">Reset</button>
        <button id="button-download-manager-disk-usage" class="report-button">Download SVG</button>
    </div>
    <div id="manager-disk-usage-container" class="container-alpha" >
        <svg id="manager-disk-usage" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <h2 id="worker-disk-usage-title">Worker Disk Usage</h2>
    <div id="worker-disk-usage-preface" class="preface">
        <p>This plot shows the disk usage (MB) of each worker during the manager's lifetime from the point of the manager's view.
            The disk increase can be caused by any cache-update events or put events. The disk decrease can be caused by any unlink events.
            Click the <b>Accumulation</b> button to see the disk increase events only.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-worker-disk-usage-reset" class="report-button">Reset</button>
        <button id="button-display-worker-disk-usage-by-percentage" class="report-button">Percentages</button>
        <button id="button-display-accumulated-only" class="report-button">Accumulation</button>
        <input type="text" id="input-highlight-worker-disk-usage" class="report-input-box" placeholder="Enter Worker ID">
        <button id="button-highlight-worker-disk-usage" class="report-button">Analyze Worker</button>
        <button id="button-download-worker-disk-usage" class="report-button">Download SVG</button>
    </div>
    <div id="worker-disk-usage-container" class="container-alpha" >
        <svg id="worker-disk-usage" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>



    <h2 id="worker-concurrency-title">Worker Concurrency</h2>
    <div class="preface">
        <p>This plot shows the number of concurrent workers during the manager's lifetime.
        </p>
     </div>
     <div class="report-toolbox">
        <button id="button-reset-worker-concurrency" class="report-button">Reset</button>
        <button id="button-download-worker-concurrency" class="report-button">Download SVG</button>
    </div>
    <div id="worker-concurrency-container" class="container-alpha">
        <svg id="worker-concurrency" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    

    <h2 id="tasks-concurrency-title">Tasks Concurrency</h2>
    <div id="tasks-concurrency-preface" class="preface">
        <p>This plot shows the number of concurrent tasks through the manager's lifetime. Each task starts at
            when it's running and ends at when it's waiting retrieval.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-reset-tasks-concurrency" class="report-button">Reset</button>
        <button id="button-download-tasks-concurrency" class="report-button">Download SVG</button>
    </div>
    <div id="tasks-concurrency-container" class="container-alpha" >
        <svg id="tasks-concurrency-svg" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>


    <h2 id="tasks-completed-title">Tasks Completed</h2>
    <div id="task-execution-details-preface" class="preface">
        <p>The execution time of a task spans from when start on worker to when end on worker.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-tasks-completed-reset-table" class="report-button">Reset</button>
        <button id="button-tasks-completed-convert-timestamp" class="report-button">Convert Timestamp</button>
        <input type="text" id="input-tasks-completed-task-id" class="report-input-box" placeholder="Input Task ID">
        <button id="button-tasks-completed-search-by-id" class="report-button">Search</button>
        <input type="text" id="input-tasks-completed-category" class="report-input-box" placeholder="Input Category">
        <button id="button-tasks-completed-search-by-category" class="report-button">Search</button>
        <input type="text" id="input-tasks-completed-filename" class="report-input-box" placeholder="Input Filename">
        <button id="button-tasks-completed-search-by-filename" class="report-button">Search</button>
    </div>

    <table id="tasks-completed-table" class="display">
        <thead>
            <tr>
                <th>task id</th>
                <th>try id</th>
                <th>worker id</th>
                <th>schedule id</th>
                <th>execution time</th>
                <th>when ready</th>
                <th>when running</th>
                <th>when start on worker</th>
                <th>when end on worker</th>
                <th>when waiting retrieval</th>
                <th>when retrieved</th>
                <th>when done</th>
                <th>when output fully lost</th>
                <th>cores requested</th>
                <th>gpus requested</th>
                <th>memory requested</th>
                <th>disk requested</th>
                <th>category</th>
                <th>graph id</th>
                <th>size of input (MB)</th>
                <th>size of output (MB)</th>
                <th>input files</th>
                <th>output files</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2 id="tasks-failed-title">Tasks Failed</h2>
    <div class="report-toolbox">
        <button id="button-tasks-failed-reset-table" class="report-button">Reset</button>
        <button id="button-tasks-failed-convert-timestamp" class="report-button">Convert Timestamp</button>
        <input type="text" id="input-tasks-failed-task-id" class="report-input-box" placeholder="Search by ID">
        <button id="button-tasks-failed-search-by-id" class="report-button">Search</button>
        <input type="text" id="input-tasks-failed-category" class="report-input-box" placeholder="Search by Category">
        <button id="button-tasks-failed-search-by-category" class="report-button">Search</button>
        <input type="text" id="input-tasks-failed-worker-id" class="report-input-box" placeholder="Search by Worker">
        <button id="button-tasks-failed-search-by-worker-id" class="report-button">Search</button>
    </div>

    <table id="tasks-failed-table" class="display">
        <thead>
            <tr>
                <th>task id</th>
                <th>try id</th>
                <th>worker id</th>
                <th>when ready</th>
                <th>when running</th>
                <th>when next ready</th>
                <th>category</th>
                <th>cores requested</th>
                <th>gpus requested</th>
                <th>memory requested</th>
                <th>disk requested</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2 id="tasks-execution-time-distribution-title">Tasks Execution Time Distribution</h2>
    <div id="task-execution-time-distribution-preface" class="preface">
        <p>This plot shows the execution time distribution of all tasks. The execution time is the duration from when a task starts on a worker to when it ends on a worker.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-reset-task-execution-time-distribution" class="report-button">Reset</button>
        <button id="button-execution-time-distribution-display-cdf" class="report-button">Display CDF</button>
        <button id="button-download-task-execution-time-distribution" class="report-button">Download SVG</button>
    </div>
    <div id="task-execution-time-distribution-container" class="container-alpha" >
        <svg id="task-execution-time-distribution-svg" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <h2 id="tasks-category-information-title">Tasks Category Information</h2>
    <div id="task-category-information-preface" class="preface">
    </div>
    <div class="report-toolbox">
        <button id="button-reset-task-category-information" class="report-button">Reset</button>
        <button id="button-task-category-information-sort-by-avg-time" class="report-button">Sort by Avg Execution Time</button>
        <button id="button-download-task-category-information" class="report-button">Download SVG</button>
    </div>
    <div id="task-category-information-container" class="container-alpha" >
        <svg id="task-category-information-svg" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <div style="display: flex; align-items: center;">
        <h2 id="tasks-execution-details-title">Tasks Execution Details</h2>
        <div id="execution-details-tip" class="error-tip">This manager exited unexpectedly, choose the last appeared timestamp as the manager end time.</div>
    </div>
    <div id="task-execution-details-preface" class="preface">
        <p>This plot shows the task distribution across all workers. Each rectangle represents 
            the duration of a task on a specific worker's core. Every task starts from when it was
            actually started (after when the manager set it to RUNNING status) and 
            actually ends (before when the manager set it to WAITING_RETRIEVAL status) on a worker.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-reset-task-execution-details" class="report-button">Reset</button>
        <button id="button-download-task-execution-details" class="report-button">Download SVG</button>
    </div>

    <table id="task-execution-details-legend-table" class="legend-table">
        <tr>
            <th id="legend-regular-tasks"></th>
            <td>Regular task that are submitted by the user and successfully run to completion.</td>
        </tr>
        <tr>
            <th id="legend-failed-tasks"></th>
            <td>Failed task on a special worker, which usually means the failure of a worker.</td>
        </tr>
        <tr>
            <th id="legend-recovery-tasks"></th>
            <td>Recovery task to re-create the lost temperory files.</td>
        </tr>
        <tr>
            <th id="legend-workers"></th>
            <td>Worker lifetime starting at when it was connected and ending at when it was disconnected.</td>
        </tr>
    </table>

    <div id="execution-details-container" class="container-alpha" >
        <svg id="execution-details" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    
    
    <h2 id="graph-info-title" >Graph Information</h2>
    <table id="graph-table" class="display">
        <thead>
            <tr>
                <th>id</th>
                <th>number of tasks</th>
                <th>time of completion</th>
                <th>number of critical tasks</th>
                <th>critical tasks</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div style="display: flex; align-items: center;">
        <h2 id="subgraph-info-title" >Subgraph Information</h2>
        <div id="subgraph-info-error-tip" class="error-tip">No Graph Data found for this execution.</div>
    </div>
    <div class="preface">
        <p style="margin: 0px;">
            A component is a subgraph of this workflow with the following properties:
            <ul style="margin: 0px;">
                <li><b>Node</b>: Represents a task, either regular task or recovery task.</li>
                <li><b>Edge (file -> task)</b>: The durantion from when this file is produced by the previous task to when it is consumed by this task.</li>
                <li><b>Edge (task -> file)</b>: The durantion from when this this task starts to run to when it is finished on a worker.</li>
                <li><b>Critical Path:</b> The longest sequence of tasks and waiting times determining the project's total duration. Optimazation may exist here.</li>
                <li><b>Critical Input File:</b> One of the input files that took the shortest time to wait for. Optimation may exist here.</li>
            </ul>
        </p>
    </div> 
    <div class="report-toolbox">
        <div class="report-label-container">
            <p>Select a DAG ID: </p>
        </div>
        <select id="dag-id-selector" class="report-selector"></select>
        <button id="button-highlight-critical-path" class="report-button">Highlight Critical Path</button>
        <input type="text" id="input-task-id-in-dag" class="report-input-box" placeholder="Enter Task ID">
        <button id="button-analyze-task-in-dag" class="report-button">Analyze Task</button>
        <input type="text" id="input-filename-id-in-dag" class="report-input-box" placeholder="Enter Filename">
        <button id="button-analyze-file-in-dag" class="report-button">Analyze File</button>
        <button id="button-download-dag" class="report-button">Download SVG</button>
    </div>
    <div id="graph-information-container" class="container-alpha">
        <div id="graph-information-svg"></div>
    </div>
    
    <div id="critical-path-info-div">
        <h3>Critical Tasks</h3>
        <table id="critical-tasks-table" class="display">
            <thead>
                <tr>
                    <th>task id</th>
                    <th>try id</th>
                    <th>worker id</th>
                    <th>execution time</th>
                    <th>when ready</th>
                    <th>when running</th>
                    <th>when start on worker</th>
                    <th>when end on worker</th>
                    <th>when waiting retrieval</th>
                    <th>when retrieved</th>
                    <th>when done</th>
                    <th>category</th>
                    <th>graph id</th>
                    <th>size of input (MB)</th>
                    <th>size of output (MB)</th>
                    <th>input files</th>
                    <th>output files</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="preface">
            <p style="margin: 0px;">
                This plot shows the timeline of the critical tasks in this subgraph. The total duration represents the completion time of this subgraph.
                <ul style="margin: 0px;">
                    <li><b>X Axis</b>: Starts at when the first task is ready and ends at when the last task is done.</li>
                    <li><b>Task Lifetime</b>: From when it's ready to when it's done.</li>
                </ul>
            </p>
        </div>
        <div id="critical-path-container">
            <svg id="critical-path-svg" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </div>
    </div>

    <div id="analyze-task-display-details">
        <h3>task information</h3>
        <table id="analyzed-task-table" class="display">
            <thead>
                <tr>
                    <th>task id</th>
                    <th>try id</th>
                    <th>worker id</th>
                    <th>execution time</th>
                    <th>when ready</th>
                    <th>when running</th>
                    <th>when start on worker</th>
                    <th>when end on worker</th>
                    <th>when waiting retrieval</th>
                    <th>when retrieved</th>
                    <th>when done</th>
                    <th>category</th>
                    <th>graph id</th>
                    <th>size of input (MB)</th>
                    <th>size of output (MB)</th>
                    <th>input files</th>
                    <th>output files</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h3>input files information</h3>
        <div id="analyze-task-display-input-files">
            <table id="task-input-files-table" class="display">
                <thead>
                    <tr>
                        <th>filename</th>
                        <th>size (MB)</th>
                        <th>waiting time from creation</th>
                        <th>waiting time from recovery</th>
                        <th>producers</th>
                        <th>consumers</th>
                        <th>workers held (worker_id, time_stage_in, time_stage_out, lifetime)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    
    
    <h2 id="file-summary-title">File Summary</h2>
    <div id="file-summary-preface" class="preface">
        <p>The file summary table shows the information of all files that are used in this execution. 
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-file-summary-reset-table" class="report-button">Reset</button>
        <button id="button-file-summary-has-producer" class="report-button">Has Producer</button>
        <input type="text" id="input-file-summary-search-filename" class="report-input-box" placeholder="Input Filename">
        <button id="button-file-summary-search-filename" class="report-button">Search Filename</button>
    </div>
    <table id="file-summary-table" class="display">
        <thead>
            <tr>
                <th>filename</th>
                <th>size (MB)</th>
                <th>producers</th>
                <th>consumers</th>
                <th>num workers held</th>
                <th>workers held</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="footnote">
        <p>
            TaskVine Report Tool available on <a href="https://github.com/cooperative-computing-lab/taskvine-report-tool.git" target="_blank">Github</a>.
        </p>
    </div>

    </body>
</html>